.expander {
  border: 1px solid #eee;
  background-color: #f9f9f9;

  .title {
    padding: 20px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }

  .body {
    background-color: #fff;
    padding: 20px;
  }
}