$yellow: #ffe691;
$purple: #DD9AFF;
$green: #99FFB1;

.expander {
  border: 1px solid #eee;
  width: 300px;
  &.yellow {
    .title {
      border-left-color: $yellow;
    }
  }
  &.purple {
    .title {
      border-left-color: $purple;
    }
  }
  &.green {
    .title {
      border-left-color: $green;
    }
  }
  .title {
    padding: 20px;
    border-left: 5px solid #000;
    cursor: pointer;
    background-color: #fff;
    &:hover {
      @include opacity(0.8);
    }
  }

  .body {
    background-color: #fff;
    padding: 20px;
  }
}