.hide {
  display: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: $fontColor;
  background-color: #eee;
  height: 100%;
}

.ng-view {
  height: 100%;
}